@charset "UTF-8";

body {
    background-color: white;
}

.global-page-container {
    width: 100%;
    display: inline-block;
    margin: auto;
    height: 100%;
}

/*Formatações para o logo e imagens da pagina*/
.logo {
    position: absolute;
}

/* Formatações para o Menu*/
.busca {
    float: right;
    width: 30%;
    margin-right: -230px;
    margin-top: 5px;
}
.busca input{
    height: 20px;
    background-image:url("Icones/search.png") ;
    background-repeat: no-repeat;
    background-position: 96%;
    border: 2px solid #001011d6;
}
ul {
    margin: 5px;
    padding: 5px;
    margin-left: 500px;
}
 
li {
    list-style: none; 
    margin: 5px;
    display: inline;
}

li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(0, 0, 0); 
    box-shadow: 2px 2px 2px 2px;
    background: rgb(53, 52, 52);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: rgb(110, 226, 120);
    color: rgb(187, 5, 5); 
    border-color: #000;
}


/* Formatação da Vitrine */

.container-vitrine {
    background-color: rgba(196, 195, 195, .2);
    box-shadow: 2px 1px 10px 2px rgb(0, 68, 255);
    margin-top: 60px;
    align-items: center;
}

.vitrine-slider .slide {
    box-shadow: 1px 1px 10px 1px black;
    transform: scale(0.5);
    transition: 1s;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    outline: none !important;
    margin-top: 20px;
}

.vitrine-slider .slide.slick-center {
    transform: scale(0.8);
    box-shadow: 1px 1px 10px 1px black;
}

div#camiseta-name{
    text-align: center;
    margin-top: 05px;
    color: black
}
.description {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 200px;
    vertical-align: middle;
    font-family: 'Poppins';
    font-weight: 300;
    color: #000000;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    transition: 1s;
    margin-left: 0px;   
  }
  
  #camiseta-price {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    transition: 1s;
    margin-left: 0px;
    text-align: center;
    margin-top: 12px;
    font-size: 25px;
}

/* Botões */

.arrow {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
    cursor: pointer;
    vertical-align: middle;
  }
  
  #arrow-prev {
    background-image: url('Icones/arrow_prev.svg');
    margin-left: 510px;
  }
  
  #arrow-next {
    background-image: url('Icones/arrow_next.svg');
  }
  
